// Font Mixins
@mixin serif-font {
  font-family: 'Poppins', cursive;
  //font-family: 'Comfortaa', cursive;
}
@mixin script-font {
  font-family: 'Poppins', cursive;
  //font-family: 'Comfortaa', cursive;
}
@mixin body-font {
  font-family: 'Poppins', cursive;
  //font-family: 'Comfortaa', cursive;
}
@mixin heading-font {
  font-family: 'Poppins', cursive;
  //font-family: 'Comfortaa', cursive;
}
