// Styling for the services section
.calculators-heading {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 600;
}

#calculators .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Example box shadow
  border-radius: 10px;
  padding-bottom: 15px;
  transition: box-shadow 0.3s ease;
  color: $primary;
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

#calculators .card .card-footer {
  border: none;
  background: $white;
}

#calculators .btn {
  border-radius: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: $white;
  
  &:hover {
    background-color: $primary; // Example hover color
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
  }
}
