// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  align-items: center;

  .container {
    width: 100%;
  }

  .intro-text {
    padding-top: $space-6;
    padding-bottom: $space-5;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: $line-height-heading;
      margin-bottom: $space-3;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: $line-height-tight;
      margin-bottom: $space-4;
      @include heading-font;
    }
  }
}

@media (min-width:320px)
{
  header.masthead {
    min-height: 60vh;

    .intro-text {
      padding-top: $space-6;
      padding-bottom: $space-5;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: $line-height-heading;
        margin-bottom: $space-2;
        text-shadow: 1px 1px 1px rgb(172, 172, 172);
        @include serif-font;
      }
      .intro-heading {
        font-size: 45px;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgb(70, 70, 70);
        line-height: $line-height-tight;
        margin-bottom: $space-5;
        @include heading-font;
      }
    }
  }
}

@media(min-width:480px) {
  header.masthead {
    .intro-text {
      padding-top: $space-6;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: $line-height-heading;
        margin-bottom: $space-2;
        text-shadow: 1px 1px 1px rgb(172, 172, 172);
        @include serif-font;
      }
      .intro-heading {
        font-size: 60px;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgb(70, 70, 70);
        line-height: $line-height-tight;
        margin-bottom: $space-4;
        @include heading-font;
      }
    }
  }
}

@media(min-width:768px) {
  header.masthead {
    min-height: 60vh;

    .intro-text {
      padding-top: $space-6;
      padding-bottom: $space-6;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: $line-height-heading;
        margin-bottom: $space-2;
        text-shadow: 1px 1px 1px rgb(172, 172, 172);
        @include serif-font;
      }
      .intro-heading {
        font-size: 60px;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgb(70, 70, 70);
        line-height: $line-height-tight;
        margin-bottom: $space-4;
        @include heading-font;
      }
    }
  }
}

// p {
//   margin-top: 90px;
//   margin-bottom: 1rem;
//   line-height: 1.75;
// }
